In [8]:
import numpy as np
import math
class Perceptor(object):
    def __init__(self,w,b):
        self.w=w
        self.b=b
    def __call__(self,x):
        return self.sigmoid(np.dot(x,self.w)+self.b)
    def sigmoid(self,z):
        return 1/(1+math.exp(-z))

In [9]:
p=Perceptor([1,3,2,1,1,2],-7)
print(p([1,0,1,1,1,0]))

0.11920292202211755

In [10]:
import pandas as pd
data=pd.read_csv("BeijingPM20100101_20151231.csv")
data

,No,year,month,day,hour,season,PM_Dongsi,PM_Dongsihuan,PM_Nongzhanguan,PM_US Post,DEWP,HUMI,PRES,TEMP,cbwd,Iws,precipitation,Iprec
0,1,2010,1,1,0,4,NaN,NaN,NaN,NaN,-21.0,43.0,1021.0,-11.0,NW,1.79,0.0,0.0
1,2,2010,1,1,1,4,NaN,NaN,NaN,NaN,-21.0,47.0,1020.0,-12.0,NW,4.92,0.0,0.0
2,3,2010,1,1,2,4,NaN,NaN,NaN,NaN,-21.0,43.0,1019.0,-11.0,NW,6.71,0.0,0.0
3,4,2010,1,1,3,4,NaN,NaN,NaN,NaN,-21.0,55.0,1019.0,-14.0,NW,9.84,0.0,0.0
4,5,2010,1,1,4,4,NaN,NaN,NaN,NaN,-20.0,51.0,1018.0,-12.0,NW,12.97,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52579,52580,2015,12,31,19,4,140.0,157.0,122.0,133.0,-8.0,68.0,1031.0,-3.0,SE,7.14,0.0,0.0
52580,52581,2015,12,31,20,4,157.0,199.0,149.0,169.0,-8.0,63.0,1030.0,-2.0,SE,8.03,0.0,0.0
52581,52582,2015,12,31,21,4,171.0,231.0,196.0,203.0,-10.0,73.0,1030.0,-6.0,NE,0.89,0.0,0.0
52582,52583,2015,12,31,22,4,204.0,242.0,221.0,212.0,-10.0,73.0,1030.0,-6.0,NE,1.78,0.0,0.0
52583,52584,2015,12,31,23,4,NaN,NaN,NaN,235.0,-9.0,79.0,1029.0,-6.0,NE,2.67,0.0,0.0

In [11]:
def Count(area):
    I=II=III=IV=C=0
    for i in area:
        if i>150:
            C+=1
            IV+=1
        elif i>75:
            C+=1
            III+=1
        elif i>35:
            C+=1
            II+=1
        elif i>0:
            C+=1
            I+=1            
    print("重度污染占比：{0:.2%},中度污染占比：{1:.2%},轻度污染占比：{2:.2%},良好占比：{3:.2%}".format(I/C,II/C,III/C,IV/C))

In [12]:
Count(data['PM_Dongsi'])
Count(data['PM_Dongsihuan'])
Count(data['PM_Nongzhanguan'])

重度污染占比：33.16%,中度污染占比：22.74%,轻度污染占比：25.62%,良好占比：18.48%
重度污染占比：30.07%,中度污染占比：23.75%,轻度污染占比：27.39%,良好占比：18.79%
重度污染占比：33.52%,中度污染占比：23.45%,轻度污染占比：24.84%,良好占比：18.19%

In [13]:
lst=data.loc[:,['year','month','PM_Dongsi','PM_Dongsihuan', 'PM_Nongzhanguan']]
lst=lst[lst["year"].isin(['2013'])]
lst

       year  month  PM_Dongsi  PM_Dongsihuan  PM_Nongzhanguan
26304  2013      1        NaN            NaN              NaN
26305  2013      1        NaN            NaN              NaN
26306  2013      1        NaN            NaN              NaN
26307  2013      1        NaN            NaN              NaN
26308  2013      1        NaN            NaN              NaN
...     ...    ...        ...            ...              ...
35059  2013     12       17.0           11.0             21.0
35060  2013     12       23.0           13.0             20.0
35061  2013     12       20.0           17.0             20.0
35062  2013     12       20.0           27.0             20.0
35063  2013     12       35.0           45.0             31.0

[8760 rows x 5 columns]

In [15]:
for i in range(1,13):
    m=lst[lst["month"].isin([i])]
    print("2013年{0}月各区PM平均值：东四{1:.2f}，东四环{2:.2f}，农展馆{3:.2f}".format(i,np.nanmean(m["PM_Dongsi"]),np.nanmean(m["PM_Dongsihuan"]),np.nanmean(m["PM_Nongzhanguan"])))

2013年1月各区PM平均值：东四182.93，东四环nan，农展馆185.77
2013年2月各区PM平均值：东四111.06，东四环nan，农展馆107.00
2013年3月各区PM平均值：东四109.90，东四环128.67，农展馆108.20
2013年4月各区PM平均值：东四64.78，东四环63.97，农展馆56.63
2013年5月各区PM平均值：东四91.13，东四环102.02，农展馆76.91
2013年6月各区PM平均值：东四109.30，东四环117.13，农展馆106.60
2013年7月各区PM平均值：东四73.47，东四环84.61，农展馆74.08
2013年8月各区PM平均值：东四64.41，东四环74.06，农展馆68.25
2013年9月各区PM平均值：东四84.79，东四环81.96，农展馆81.10
2013年10月各区PM平均值：东四103.54，东四环101.41，农展馆96.52
2013年11月各区PM平均值：东四82.92，东四环83.77，农展馆83.34
2013年12月各区PM平均值：东四86.88，东四环92.05，农展馆89.37

C:\Users\Ciaran\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: Mean of empty slice
  This is separate from the ipykernel package so we can avoid doing imports until